<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
    <h1>About</h1>
    <div id="navbar">
        <a class="navitem"href="/">Home</a>
        <a class="navitem"href="/about">About</a>
        <a class="navitem"href="/portfolio">Portfolio</a>
        <a class="navitem"href="/info">Info/Pricing Estimates</a>
        <a class="navitem"href="/contact">Contact</a>
    </div>
    <p>We are a staple of this industry.  A fucking STAPLE.  If you're the kind of person okay with some fuddy duddy, wishy washy two bit piece of shit wedding video filmed on your me-maws iphone 3s, well you can get the fuck off of my site right now.
        The fuck off, I don't need your traffic clogging up my server you fucking yokel.  We produce quality.  We expect quality from all those involved in our production.  We demand complete creative control over the behaviors, appearances, and speech patterns of every fat piece of shit family member that steps foot in front of our camera.
        If your aunt rita needs to take a piss, we need to know about it.  If the little alter boy picks his nose, I will personally inspect his fucking booger before he eats it.  
    </p>
    <p>
        This is what is required for excellence.  Many of you will look elsewhere for your services after reading this, but to the few of you who seek greatness, we can promise you greatness.
    </p>
    </div>
</body>
</html>