<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
    <h1>Info</h1>
    <div id="navbar">
        <a class="navitem"href="/">Home</a>
        <a class="navitem"href="/about">About</a>
        <a class="navitem"href="/portfolio">Portfolio</a>
        <a class="navitem"href="/info">Info/Pricing Estimates</a>
        <a class="navitem"href="/contact">Contact</a>
    </div>
    <h3>FAQ</h3>
    <p>
        <strong>How quickly can you produce the video?</strong>
        Answer:  Art takes time.  I can't answer a question like that.
        <br>
        <strong>Do you film for other events, senior prom for example?</strong>
        Answer:  Why don't you tell your little princess that if she wants a video of herself playing dress up so badly, she should get knocked up and get a wedding video like a fucking grownup.
        <br>
        <strong>Do you offer any discounts for low income families?</strong>
        Answer:  Go fuck yourself.
    </p>
    <h3>
        Pricing info:
    </h3>
    <p>
        Tighten up that belt you cheap son of a bitch.  You better hope her dad still believes in dowries.  
    </p>
    </div>
</body>
</html>