<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper">
    <h1>Portfolio</h1>
    <div id="navbar">
        <a class="navitem"href="/">Home</a>
        <a class="navitem"href="/about">About</a>
        <a class="navitem"href="/portfolio">Portfolio</a>
        <a class="navitem"href="/info">Info/Pricing Estimates</a>
        <a class="navitem"href="/contact">Contact</a>
    </div>
    <div id="videobox">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4-94JhLEiN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div id="videobox">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LER4O71M5Rg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    </div>
</body>
</html>